.text-tile__description {
    color: var(--color-primary);
    max-width: 1040px;
    margin-inline: auto;
}

.text-tile__description * {
    color: inherit;
}

.text-tile__cta {
    margin-top: 55px;
}
